.jumbotron {
  background: olive;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: rgb(92, 92, 11);
    border-color: rgb(104, 104, 3); }
    .jumbotron .btn-primary:hover {
      background: rgb(104, 104, 3); }
  .jumbotron p {
    color: rgb(240, 240, 240);
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: rgb(92, 92, 11);
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

